        main {
            background-image: url('../img/background.jpeg');
            /* Ganti dengan URL gambar latar belakang Anda */
            background-size: cover;
            /* Menyesuaikan gambar dengan ukuran layar */
            background-attachment: fixed;
            /* Gambar tetap saat scroll */
            background-position: center;
            /* Posisikan gambar di tengah */
            background-repeat: no-repeat;
            /* Pastikan gambar tidak berulang */
        }

        .fade-in {
            animation: fadeIn 1s ease-in-out;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(30px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }